<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="invalidDetails" value ="Please enter valid details"/>
    <add key="noCustomersMessage" value="No Customers :(" /> <!--ManageCustomerMaster check_Click()  if, showAllCustomersBtn_Click() and UpdateCustomerMaster Page_Load() if-->
    <add key="CustomersFound" value="Customer Already Exists!" /> <!--ManageCustomerMaster check_Click()  else-->
    <add key="wrongPassword" value ="Wrong Password :("/> <!--checkCre() and LoginPageMaster last else-->
    <add key="userNotFound" value = "Invalid user id"/>
    <add key="amountNotSufficient" value="Amount Not Sufficient"/> <!--withdraw() first return in Service.cs-->
    <add key="accountNotFound" value="Account(s) not found"/> <!--withdraw() second return and first return in deposit() in Service.cs and FundTransferMaster transfer_Click() 2nd else label6.text and ManageAccountMaster SubmitButton_Click() if block, ManageAccountMaster DetailsSubmitButton_Click() 2nd if block, ManageAccountMaster EditedDetailsSubmitButton_Click 2nd if, ManageAccountMaster DeleteAccountButton_Click 2nd if-->
    <add key="success" value="Success"/> <!--withdraw() third return and nd retunr in deposit() in Service.cs-->
    <add key="sameOldPassword" value="New Password is same as the old one"/> <!--changePass() first return in Service.cs-->
    <add key="passwordChanged" value="Password Changed Successfully"/> <!--changePass() second return in Service.cs-->
    <add key="passwordMismatch" value="Password Mismatch"/> <!--changePass() third return in Service.cs-->
    <add key="oldPasswordMismatch" value="Enter correct old password"/> <!--changePass() 4th return in Service.cs-->
    <add key="passwordNotFound" value="Password Not Found"/> <!--changePass() 5th return in Service.cs-->
    <add key="customerAddingError" value="Error while adding Customer"/> <!--AddCustomerMaster if cond label2.text-->
    <add key="customerAdded" value="Customer Added"/> <!--AddCustomerMaster else cond label2.text-->
    <add key="accountError" value="Please select an account to edit!!"/> <!--Customermaster if cond errorMsg.text-->
    <add key="message" value="Current account balance is "/> <!--CustomerMenuMaster balanceEnquiry_Click() balance.text-->
    <add key="tranasactionSuccessful" value="Tranasaction Successful"/> <!--FundTransferMaster transfer_Click() 2nd if label6.text-->
    <add key="insufficientAmount" value="Insufficient Amount"/> <!--FundTransferMaster transfer_Click() 1st else label6.text-->
    <add key="accountFound" value="Accounts available are"/> <!--ManageAccountMaster SubmitButton_Click() else block, ManageAccountMaster DetailsSubmitButton_Click() 1st else block, ManageAccountMaster EditedDetailsSubmitButton_Click 1st else, ManageAccountMaster DeleteAccountButton_Click() 1st else-->
    <add key="accountAdded" value="Account added successfully!!"/> <!--ManageAccountMaster DetailsSubmitButton_Click() 1st if block-->
    <add key="accountNotAdded" value="Account not added"/> <!--ManageAccountMaster DetailsSubmitButton_Click() 2nd else block-->
    <add key="accountEdited" value="Account edited successfully"/> <!--ManageAccountMaster EditedDetailsSubmitButton_Click() 1st if block-->
    <add key="accountNotEdited" value="Account not edited"/> <!--ManageAccountMaster EditedDetailsSubmitButton_Click() 2nd else-->
     <add key="accountDeleted" value="Account deleted successfully"/> <!--ManageAccountMaster DeleteAccountButton_Click() 1st if block-->
    <add key="accountNotDeleted" value="Account not deleted"/> <!--ManageAccountMaster DeleteAccountButton_Click() 2nd else-->
    <add key="customerDeleted" value="Customer Deleted"/> <!--ManageCustomerMaster deleteCustomerBtn_Click()  else-->
    <add key="customerNotDeleted" value="Customer Not Deleted"/> <!--ManageCustomerMaster deleteCustomerBtn_Click()  if-->
    <add key ="customerUpdated" value="Customer Updated!!"/> <!--UpdateCustomerMaster editCustomerBtn_Click() else -->
    <add key ="customerNotUpdated" value="Customer not Updated!!"/> <!--UpdateCustomerMaster editCustomerBtn_Click() if -->
    <add key ="databaseConnectionString" value="Data Source=WINIC185054-89G;Initial Catalog=Bank;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51534/Service1.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
          name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>